body {
    background-color: lightblue;
  }
  h1 {
    color: white;
    text-align: center;
  }
  strong {
    color: red;
    text-align: right;
    background-color: lime;

  }
  p {
font-size: 25px;
  }
  
  ul {
      text-decoration: whitesmoke underline;
  }